
body {
    background: rgb(86, 51, 189) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    
}




button {
    color: rgb(241, 238, 245);
    background-color: rgb(212, 35, 35);
    margin-top: 25px;
    border-radius: 6px;
    cursor: pointer;
}
h1,h2 {
    color: rgba(255, 255, 255, 0.836);

}